<%- include("header") -%>
<script type="text/javascript">
  $(document).ready(function () {
    $("#part2").hide();
    $("#openShipping").hide();
    $("#enclosedShipping").hide();

    var priceHierarchy = {
      openstandard: "1",
      openpremium: "2",
      openexpress: "3",
      enclcosedstandard: "4",
      enclosedpremium: "5",
      enclosedexpress: "6",
    };

    $(function () {
      $('[data-toggle="popover"]').popover();
    });

    $("#cbAcceptRestrictions").click(function () {
      if ($("#cbAcceptRestrictions").is(":checked")) {
        $("#continueToOpen").prop("disabled", false);
      } else {
        $("#continueToOpen").prop("disabled", true);
      }
    });

    $("#continueToOpen").click(function () {
      $("#part1").hide();
      $("#part2").show();
      $("#header").text("Delivery Options");
      $("#openstandard").prop("checked", true);
      $("#openShipping").show();
    });

    $("#selectEnclosed").click(function () {
      $("#part1").hide();
      $("#part2").show();
      $("#header").text("Delivery Options");
      $("#enclosedstandard").prop("checked", true);
      $("#enclosedShipping").show();
    });
  });
</script>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 id="header" class="pricing-header display-4">Pricing Options</h1>
</div>
<form action="/summary" method="POST" id="theForm">
  <div class="container">
    <div class="card-deck mb-3 text-center" id="part1">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Open Trailer</h4>
        </div>
        <div class="card-body">
          <!-- Open Trailer Image -->
          <div class="openTrailerImage">
            <img
              src="/images/openTrailer.jpeg"
              alt="Open Car Trailer"
              style="width: 75%; border: 2px solid lightgray;"
            />
          </div>
          <p style="margin-top: 2rem;">
            An 'Open Trailer' is a trailer that is open and exposed to the
            elements. See the image for an example.
          </p>
          <h1 class="card-title pricing-card-title">
            $<%= openstandard %><small class="text-muted"></small>
          </h1>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary select-open-trailer"
            style="bottom: 1rem; background-color: #00538b; color: white;"
            id="continueToOpen"
          >
            Select Open Trailer
          </button>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <!-- Enlcosed Trailer Image -->
        <div class="card-header enclosedTrailerImage">
          <h4 class="my-0 font-weight-normal">Enclosed Trailer</h4>
        </div>
        <div class="card-body">
          <div>
            <img
              src="/images/s1gEnclosed.png"
              alt="Enclosed Car Trailer"
              style="width: 75%; height: 100%; border: 2px solid lightgray;"
            />
          </div>
          <p style="margin-top: 2rem;">
            An 'Enclosed Trailer' is a trailer that protects from the elements.
            See the image for an example.
          </p>
          <h6>Upgrade to 'Enclosed Trailer' for an additional</h6>
          <h1 class="card-title pricing-card-title">
            $<%= enclosedstandard - openstandard %><small
              class="text-muted"
            ></small>
          </h1>
          <button
            type="button"
            class="btn btn-lg btn-block btn-primary select-enclosed-trailer"
            id="selectEnclosed"
            style="color: white; background-color: #00538b;"
          >
            Select Enclosed Trailer
          </button>
        </div>
      </div>
    </div>
    <!-- <input
      type="checkbox"
      id="cbAcceptRestrictions"
      name="cbAcceptRestrictions"
    />
    <label for="cbAcceptRestrictions">Accept Restrictions</label> |
    <button disabled id="continueToOpen" type="button" class="link">
      Continue with Open Carrier
    </button> -->

    <div id="part2">
        <div class="card-deck mb-3 text-center" id="openShipping">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Standard</h4>
            </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  <input
                    type="radio"
                    id="openstandard"
                    name="selection"
                    value="Open Standard"
                  />
                  <label style="font-size: 50px;" for="openstandard">$<%= openstandard %></label>
                </h1>  
                <label>Deliver By: <%= standardDeliverBy %></label>
              </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Premium</h4>
            </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  <input
                  type="radio"
                  id="openpremium"
                  name="selection"
                  value="Open Premium"
                  />
                  <label style="font-size: 50px;" for="openpremium">$<%= openpremium %></label>
                </h1>
                <label>Deliver By: <%= premiumDeliverBy %></label>
              </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Express</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                <input
                type="radio"
                id="openexpress"
                name="selection"
                value="Open Express"
                />
                <label style="font-size: 50px;" for="openexpress">$<%= openexpress %></label>
              </h1>  
                <label>Deliver By: <%= expressDeliverBy %></label>
            </div>
          </div>    
        </div>
        <div class="container">
          <div class="card-deck mb-3 text-center" id="enclosedShipping">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Standard</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">
                    <input
                    type="radio"
                    id="enclosedstandard"
                    name="selection"
                    value="Enclosed Standard"
                    />
                    <label style="font-size: 50px;" for="enclosedstandard"
                      >$<%= enclosedstandard %></label
                    >
                  </h1>
                  <label>Deliver By: <%= standardDeliverBy %></label>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Premium</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  <input
                    type="radio"
                    id="enclosedpremium"
                    name="selection"
                    value="Enclosed Premium"
                  />
                  <label style="font-size: 50px;" for="enclosedpremium">$<%= enclosedpremium %></label>
                </h1>
                <label>Deliver By: <%= premiumDeliverBy %></label>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Express</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  <input
                    type="radio"
                    id="enclosedexpress"
                    name="selection"
                    value="Enclosed Express"
                  />
                  <label style="font-size: 50px;" for="enclosedexpress">$<%= enclosedexpress %></label>
                </h1>
                <label>Deliver By: <%= expressDeliverBy %></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="proceed-to-summary">
        <button
          type="submit"
          class="proceed-to-summary-button btn btn-lg"
          id="summary-button"
          style="background-color: #00538b; color: white;"
        >
          Proceed to Summary
        </button>
      </div>
    </div>
  </div>
</form>

<%- include("footer") -%>
