<%- include("header") -%>
<script type="text/javascript">
  $(document).ready(function () {
    var priceHierarchy = {
    openstandard: "1",
    openpremium: "2",
    openexpress: "3",
    enclcosedstandard: "4",
    enclosedpremium: "5",
    enclosedexpress: "6",
};
  });
</script>
<div class=container-fluid>

  <body>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="pricing-header display-4">Pricing Options</h1>
      <p class=>You entered <strong><%= quoteOrigin %></strong> as the origin and
        <strong><%= quoteDestination %></strong> as the destination.</p>
      <p class=>Choose from our competitively priced transport service options and get your vehicle shipped
        by us.</p>
    </div>
    <form action="/summary" method="POST" id="theForm">
      <div class="container">
        <div id="openBody" class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Open Carrier</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$<%= openstandard %><small class="text-muted"></small></h1>
              <button type="button" class="btn btn-secondary btn-lg btn-block" id="choose-open-button"
                data-toggle="collapse" data-target="#opencollapse" aria-expanded="false" aria-controls="opencollapse">
                Choose
              </button>
            </div>
            <div class="collapse" id="opencollapse">
              <div class="card-body">
                <input type="radio" id="openstandard" name="selection" value="Open Standard">
                <label for="openstandard">Standard $<%= openstandard %></label>
                <label>Deliver By: <%= standardDeliverBy %></label>
                <br />

                <input type="radio" id="openpremium" name="selection" value="Open Premium">
                <label for="openpremium">Premium $<%= openpremium %></label>
                <label>Deliver By: <%= premiumDeliverBy %></label>
                <br />

                <input type="radio" id="openexpress" name="selection" value="Open Express">
                <label for="openexpress">Express $<%= openexpress %></label>
                <label>Deliver By: <%= expressDeliverBy %></label>
              </div>
            </div>
          </div>
        </div>
        <div id="enclosedBody" class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Enclosed Carrier</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$<%= enclosedstandard %><small class="text-muted"></small></h1>
              <button type="button" class="btn btn-secondary btn-lg btn-block" id="choose-enclosed-button"
                data-toggle="collapse" data-target="#enclosedcollapse" aria-expanded="false"
                aria-controls="enclosedcollapse">
                Choose
              </button>
            </div>
            <div class="collapse" id="enclosedcollapse">
              <div class="card-body">
                <input type="radio" id="enclosedstandard" name="selection" value="Enclosed Standard">
                <label for="enclosedstandard">Standard $<%= enclosedstandard %></label>
                <label>Deliver By: <%= standardDeliverBy %></label>
                <br />

                <input type="radio" id="enclosedpremium" name="selection" value="Enclosed Premium">
                <label for="enclosedpremium">Premium $<%= enclosedpremium %></label>
                <label>Deliver By: <%= premiumDeliverBy %></label>
                <br />

                <input type="radio" id="enclosedexpress" name="selection" value="Enclosed Express">
                <label for="enclosedexpress">Express $<%= enclosedexpress %></label>
                <label>Deliver By: <%= expressDeliverBy %></label>
              </div>
            </div>
          </div>
        </div>
        <div class="proceed-to-summary">
          <button class="btn btn-primary btn-lg btn-block" type="submit" class="proceed-to-summary-button btn btn-lg"
            id="summary-button">
            Proceed to Summary
          </button>
        </div>
    </form>

  </body>
</div>
<%- include("footer") -%>