<%- include("header") -%>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  $(document).ready(function () {
    // Stripe
    const session_id = "<%= session_id %>";
    console.log(session_id);
    var stripe = Stripe(
      "pk_test_51H6GmsA0iFQODPbSpKc85KtZjTh2vzZoQmZoN9guzft9ZnXcaYQ4MwBToU6qRruL6lxT0kkmuJ8MYi7OPihjnokl00IMSk0JYf"
    );
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
      stripe
        .redirectToCheckout({
          sessionId: session_id,
        })
        .then(function (result) {
          console.log(result);
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer
          // using `result.error.message`.
        });
    });
  });
</script>
<div class="container checkout-summary">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Checkout Summary</h4>
      </div>
      <div class="card-body summary-body">
        <h1 class="card-title pricing-card-title">Your total delivery cost will be
          <strong>$<%= selectedPrice %></strong></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li class=>Vehicle <strong><%= vehicle %></strong></li>
          <li class=>From <strong><%= from %></strong></li>
          <li class=>To <strong><%= to %></strong></li>
          <li class=>Service <strong><%= service %></strong></li>
        </ul>
        <div class="proceed-to-checkout">
          <button class="btn btn-primary btn-lg proceed-to-checkout-button" id="checkout-button">
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("footer") -%>